* {
  font-family: 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  color: #717171;
  font-size: 1rem;
}

.border {
  border-radius: 5px;
}

.columna {
  padding: 20px;
}

.colExterna {
  padding: 0;
}

.colUno {
  background-color: rgba(128, 0, 128, 0.24);
}

.contenido {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.fila {
  margin: 0 auto;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.nameC {
  color: white;
  font-size: .95rem;
  margin: 0;
}

.name {
  color: #242424;
  font-size: .95rem;
  margin: 0;
}

.status {
  color: #717171;
  font-size: .70rem;
}

.titleC {
  color: white;
  font-size: 1.30rem;
}

.title {
  color: #242424;
  font-size: 1.30rem;
}

.text {
  color: #717171;
  font-size: .90rem;
}

.colInterna {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.colInterna .profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
}

.colInterna .profile .image {
  width: 1.75rem;
  margin-right: 1rem;
}

.colInterna .profile .image img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.colInterna .profile .data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.containerAbout {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 5%;
}

.containerAbout .collage .carousel {
  margin-bottom: 20px;
}

.containerAbout .collage .carousel .carousel-item {
  max-width: 100%;
  max-height: 100%;
}

.containerAbout .collage .carousel .carousel-item img {
  width: 400px;
  height: 400px;
}

.containerAbout .ubicacion {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.containerAbout .ubicacion .mapa {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contentForm {
  background-image: url(/image/form/fondo-contacto.png);
  margin-top: 5%;
}

.contentForm .form {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 2%;
  font-weight: 700;
  color: #e2a028 !important;
}

.contentForm .form #form {
  color: #e2a028 !important;
  background: white;
  border-radius: 10px;
  padding: 2%;
}

.contentForm .form #form .titulo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contentForm .form #form .mb-3 {
  margin: 1.50%;
}

.contentForm .form #form .btn {
  background-color: #e2a028;
  border: #e2a028;
}

.contentForm .form #form .form-check-input:checked {
  background-color: #e2a028;
  border-color: #e2a028;
}

@media (min-width: 992px) and (max-width: 1199px) {
  .nameC {
    color: white;
    font-size: .85rem;
    margin: 0;
  }
  .name {
    color: #242424;
    font-size: .85rem;
    margin: 0;
  }
  .status {
    color: #717171;
    font-size: .65rem;
  }
  .titleC {
    color: white;
    font-size: 1.20rem;
  }
  .title {
    color: #242424;
    font-size: 1.20rem;
  }
  .text {
    color: #717171;
    font-size: .75rem;
  }
}
/*# sourceMappingURL=styles.css.map */