* {
    margin: 0%;
    padding: 0%;
    flex-wrap: wrap;
}

.bg{
    background-image: url(https://assets.nflxext.com/ffe/siteui/vlv3/5a27cb25-33a9-4bcc-b441-95fefabcbd37/18ac9873-558c-49b8-8ae5-eb42c9da346a/MX-es-20210823-popsignuptwoweeks-perspective_alpha_website_small.jpg);
    min-height: 43rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.barra {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 0 3.5rem;
    box-sizing: border-box;
}

.logo {
    width: 8.375rem;
    height: 2.25rem;
}

.logo h1 {
    font-size: 3.125rem;
    color: #e50914;
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
        
}

.enlaces {
    width: 210px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#idiomas {
    color: white;
    margin-top: .5rem;
    background: black;
}

#rlogin {
    background-color: #e50914;
    padding: 7px 17px;
    font-weight: 400;
    font-size: 1rem;
    color: #fff;
    border-radius: 3px;
    margin-top: .5rem;
    text-decoration: none;
}

.c {
    padding: 70px 45px;
}

.ContenidoTitulo {    
    position: relative;
    padding: 75px 0;
    margin: 0 auto;
    text-align: center;
    z-index: 1;
    color: #fff;
    width: 875px;
    box-sizing: content-box;
    max-width: 950px; /*Ancho máximo*/
    flex-wrap: wrap;
}

.ContenidoTitulo h1{
    font-size: 3.125rem;
    max-width: 640px;
    margin: 0 auto;
    line-height: 1.1; /*Establece la distancia entre líneas de texto*/
    box-sizing: content-box;
}

.ContenidoTitulo h2{
    max-width: none;
    padding-bottom: 20px;
    font-size: 26px;
    margin: 1rem auto;
    font-weight: 400;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;    
    text-align: center;
    font-weight: bold;
    box-sizing: border-box;
}

.emailForm {
    display: flex;
    flex-direction: column;
    margin-top: 0em;
    color: #fff;
}

.emailForm .emailTitulo {
    padding: 0 47px 20px;
    width: 800px;
    margin: 0 auto;
    font-size: 19.2px;
    font-weight: 400;
    font-weight: bold;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    align-self: center;
}

.inputEmail, .textEmail {
    height: 60px;
    padding: 10px 10px 0;
    max-width: 100%;
    width: 500px;
    box-sizing: border-box;
    font-size: 16px;
    border: solid 1px #8c8c8c;
}

.email {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.inputEmail, .labelEmail {
    position: absolute;
    top: 76%;
    left: 11%;
    color: #8c8c8c;
}

button {
    font-size: 1rem;
    min-height: 40px;
    color: #fff;
    background-color: #e50914;
    align-items: center;
    cursor: pointer;
    width: 226px;
    height: 60px;
}