* {
    font-family: 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

.border {
    border-radius: 5px;
}


.columna {
    padding: 20px;    
}

.colExterna {
    padding: 0;
}

.colUno {
    background-color: rgba(128, 0, 128, 0.24);
}

.contenido {
    justify-content: center;
}

.fila {
    margin: 0 auto;
    justify-content: flex-end;
}

.nameC {
    color: white;
    font-size: .95rem;
    margin: 0;
}

.name {
    color: #242424;
    font-size: .95rem;
    margin: 0;
}

.status {
    color:#717171;
    font-size: .70rem;
}

.titleC {
    color: white;
    font-size: 1.30rem;
}

.title {
    color: #242424;
    font-size: 1.30rem;
}

.text {
    color:#717171;
    font-size: .90rem;
}

.colInterna {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    .profile {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 20px;
    
        .image {
            height: 15%;
            width: 15%;
    
            img {
                max-width: 100%;
                max-height: 100%;
                border-radius: 50%;
            }
        }
    
        .data {
            display: flex;
            flex-direction: column;
            justify-content: center;
            
        }
    }
    
    .titulo {
    
    }
    
    .texto{
    
    }
}